<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/user/detail}">用户详情</a><br>
<a th:href="@{/product/detail}">商品详情</a><br>

<a th:href="@{/testVal1}">测试Value属性1</a>
<a th:href="@{/testVal2}">测试Value属性2</a>

<form th:action="@{/user/login}" method="get">
    用户名：<input type="text" name="username"/><br>
    密码：<input type="password" name="password"/><br>
    <input type="submit" value="登录">
</form>

<br>

<a th:href="@{/testParams?username=admin&password=123}">测试params属性</a><br>
</body>
</html>